body {
  background-color: lightblue;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.sign {
    background-color: white;
    width: 230px;
    padding: 40px;
    margin: 140px auto;
    border-radius: 8px;
    box-shadow: 0 0 15px rgb(136, 135, 135);
}
.sign h2{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}
.sign button {
    background-color: #007bfd;
    width: 100%;
    border-radius: 3px;
    padding: 8px;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    font-weight: bolder;
}
.sign label {
    font-size: 13px;
}
.sign input[type="text"],
.sign input[type="password"] {
  width: 93.5%;
  padding: 7px;
  margin: 10px 0;
  border-radius: 3px;
  border: 1px solid rgb(0, 0, 0);
}
.sign p {
   font-size: 12px;
   margin-top: 15 px;
}
.sign a{
    font-size: 12px;
    color:#007bfd;
}